# Godot Engine
.godot/
.import/
.nomedia/
*.tmp
*.translation

# Godot Exports
export.cfg
export_presets.cfg
export_credentials.cfg

# Godot Mono
.mono/
data_*/
mono_crash.*.json
bin/
obj/

# IDE, Solutions, and OS Metadata
.csproj.user
*.suo
*.user
*.userosscache
*.sln.docstates
.idea/
.vscode/
.DS_Store
Thumbs.db